{% extends "bootstrap/base.html" %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">
  function test(){
    // document.getElementById("lab").innerHTML = "Running:";
    //
    // $.get("http://localhost:5000/run", {'name': "Joe"}, function(res){
    //   $("#code").html(res);
    // });

    // Get text from textarea
    var code = $("#code").val();

    $.get("http://localhost:5000/run", {'code': code}, function(res){
      alert(res)
    });
  }
</script>


<h1 class="text-center">Traffic Light Controller V1</h1>

<div class="container">
    <div class="form-group">
      <label id="lab" for="comment">Enter code below:</label>
      <textarea id="code" class="form-control" rows="5" id="comment" name="text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" onclick="test()">Run</button>
</div>

{% endblock %}
