<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <title>Light Contoller</title>
      {{ codemirror.include_codemirror() }}
      <link rel="stylesheet" href="static/bstrap/css/bootstrap.css"/>
      <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
      <script src="static/bstrap/js/bootstrap.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

      <script type="text/javascript">
        function getCode(){
            var code = editor_for_source_code.getValue() //grabs code from CodeMirror
            $("#run").html("Running");
            $.post("http://localhost:5000/run", {'code': code}, function(write){
            $("#output").html(write);
            $("#run").html("Run");
            });
          }
        function Clear(){
            editor_for_source_code.setValue("");
            $("#output").html("");
          }
        </script>
  </head>
      <body>
      <div class="container">
          <h1 class="display-4">LIGHT CONTROLLER</h1>
          <textarea id="flask-codemirror-source_code" name="source_code"></textarea>
              <script>
                  var editor_for_source_code = CodeMirror.fromTextArea(
                      document.getElementById('flask-codemirror-source_code'),
                        {
                  "theme": "3024-night",
                  "mode": "python",
                  "lineNumbers": "true"
          }
                  );
              </script>
      </div>
        <div class="container">
            <div class="form-group">
              <textarea id="output" class="form-control" rows="5" id="comment" name="text"></textarea>
            </div>
            <div class="col-md-12 text-center">
              <button id="run" type="button" class="btn btn-success" onclick="getCode()">Run</button>
              <button id="reset" type="button" class="btn btn-warning" onclick="Clear()">Reset</button>
            </div>
      </div>
</body>
</html>
